.footer {
	width: 768px;
	height: 170px;
}
.footer h1 {
	margin: 36px 0px 0px -546px;
}
.footer h2 {
	margin: -15px 1px 0px -169px;
}
.footer .footer__h2__down {
	margin: -123px 1px 0px 166px;
}
.footer .nav {
	width: 70px;
	height: 99px;
	margin: 7px 0px 0px -183px;
}
.footer .nav li a {
	margin: 10px 6px 0px 8px;
}
.footer p {
	margin: -13px 0px 0px 610px;
}
.footer__logo {
	margin: 8px 0px 0px 577px;
}