.header {
	background-image: url(../img/Promo/Header_photo_tablet.png);
	width: 768px;
	height: 700px;
}
.header__button1,
.header__button2 {
	display: inline-block;
	margin: 38px -552px 24px 566px;
}
.header__text {
	text-align: center;
	width: 761px;
	height: 222px;
	margin: 92px 0px 0px 0px;
}
.header__text h2 {
	margin: -143px 486px 0px 0px;
}
.header__text h1 {
	font-size: 52px;
	margin: 152px -2px -141px 0px;
}
.header__text p {
	width: 502px;
	font-size: 24px;
	margin: 174px 0px 0px 130px;
}
.header__button3 {
	padding: 12px 5px 12px 5px;
	width: 212px;
	margin: 156px 0px 0px 270px;
	transition: 1s;
}