.partners {
	width: 768px;
	height: 700px;
}
.partners h1 {
	width: 416px;
	margin: 26px 0px 0px 173px;
}
.partners__box1 {
	width: 355px;
	display: inline-block;
	float: left;
}
.partners__box2 {
	width: 355px;
	padding: 10px 0px 0px 3px;
	display: inline-block;
}
.partners__box3 {
	width: 355px;
	padding: 42px 0px 0px 0px;
	display: inline-block;
}
.partners__box4 {
	width: 355px;
	padding: 9px 0px 0px 0px;
	display: inline-block;
}
.partners__box1 img {
	margin: 17px 0px 0px 155px;
}
.partners__box2 img {
	margin: 22px 0px 0px -49px;
}
.partners__box3 img {
	margin: -11px 0px 0px 158px;
}
.partners__box4 img {
	margin: 0px 0px 0px -48px;
}
.partners__box1 h1 {
	margin: 10px 0px 0px 47px;
}
.partners__box2 h1 {
	margin: 12px 0px 0px -59px;
}
.partners__box3 h1 {
	margin: 5px 0px 0px 49px;
}
.partners__box4 h1 {
	margin: 7px 0px 0px -55px;
}
.partners__box1 p {
	margin: 11px 0px 0px 145px;
}
.partners__box2 p {
	margin: 11px 0px 0px 46px;
}
.partners__box3 p {
	margin: 11px 0px 0px 146px;
}
.partners__box4 p {
	margin: 11px 0px 0px 42px;
}
.partners__button {
	width: 171px;
	margin: 36px 0px 0px 279px;
}
.partners__img__sprite{
	top: 118px;
	left: 282px;
}
.sprite--yellow{
	top: 118px;
	left: 182px;
}
.sprite--green {
	top: 116px;
	left: 281px;
}
.sprite--blue {
	top: 94px;
	left: 178px;
}