.aside {
	width: 1440px;
	height: 530px;
}
.aside h1 {
	margin: 97px 0px 0px 575px;
}
.aside__box1 {
	width: 300px;
	height: 402px;
	margin: 35px 0px 0px 250px;
	float: left;
	border-radius: 4px;
}
.aside__box2 {
	width: 300px;
	height: 402px;
	margin: 35px 21px 0px 19px;
	float: left;
	border-radius: 4px;
}
.aside__box3 {
	width: 300px;
	height: 402px;
	margin: 35px 0px 0px 521px;
	overflow: hidden;
	border-radius: 4px;
}
.aside .aside__box1 .step1 {
	background-color: #ff4e50;
	border-radius: 26px;
	padding: 2px 11px 2px 11px;
	width: 48px;
	text-align: center;
	text-transform: uppercase;
	font-family: Montserrat-Regular, sans-serif;
	color: white;
	text-decoration: none;
	font-size: 10px;
	letter-spacing: 2px;
	display: inline-block;
	position: relative;
	top: -174px;
	left: 23px;
}
.aside .aside__box2 .step2 {
	background-color: #ff4e50;
	border-radius: 26px;
	padding: 2px 11px 2px 11px;
	width: 48px;
	text-align: center;
	text-transform: uppercase;
	font-family: Montserrat-Regular, sans-serif;
	color: white;
	text-decoration: none;
	font-size: 10px;
	letter-spacing: 2px;
	display: inline-block;
	position: relative;
	top: -144px;
	left: 23px;
}
.aside .aside__box3 .step3 {
	background-color: #ff4e50;
	border-radius: 26px;
	padding: 2px 11px 2px 11px;
	width: 48px;
	text-align: center;
	text-transform: uppercase;
	font-family: Montserrat-Regular, sans-serif;
	color: white;
	text-decoration: none;
	font-size: 10px;
	letter-spacing: 2px;
	display: inline-block;
	position: relative;
	top: -175px;
	left: 23px;
}
.aside__box1 h1,
.aside__box2 h1,
.aside__box3 h1 {
	margin: 228px 0px 0px 20px;
	width: 215px;
}
.aside__box1 h1 {
	position: relative;
	top: -388px;
}
.aside__box2 h1 {
	position: relative;
	top: -358px;
}
.aside__box3 h1 {
	position: relative;
	top: -388px;
	left: 0px;
}
.aside__box1 p,
.aside__box2 p,
.aside__box3 p {
	padding: 13px 0px 0px 17px;
	width: 276px;
}
.aside__box1 p {
	position: relative;
	top: -388px;
	left: 2px;
}
.aside__box2 p {
	position: relative;
	top: -360px;
	left: 3px;
}
.aside__box3 p {
	position: relative;
	top: -387px;
	left: 2px;
}
/** Carousel **/
.jcarousel {
	position: relative;
	overflow: hidden;
	display: none;
}
.desk {
	display: block;
}
.jcarousel ul {
	width: 20000em;
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
}
.jcarousel li {
	float: left;
}
/** Carousel Controls **/
.jcarousel-control-prev {
	position: relative;
	top: -618px;
	left: 21px;
	width: 30px;
	height: 57px;
	display: block;


}
.jcarousel-control-prev--box2 {
	position: relative;
	top: -590px;
	left: 22px;
}
.jcarousel-control-next {
	position: relative;
	top: -676px;
	left: 250px;
	width: 30px;
	height: 57px;
	display: block;
}
.jcarousel-control-next--box2 {
	position: relative;
	top: -647px;
	left: 251px;
}