.footer {
	width: 1440px;
	height: 170px;
}
.footer h1 {
	margin: 38px 0px 0px -801px;
}
.footer h2 {
	margin: -16px 1px 0px -393px;
}
.footer .footer__h2__down {
	margin: -123px 1px 0px -80px;
}
.footer .nav {
	width: 70px;
	height: 99px;
	margin: 7px 0px 0px -406px;
}
.footer .nav li a {
	margin: 10px 6px 0px 8px;
}
.footer p {
	margin: -13px 0px 0px 860px;
}
.footer__logo {
	margin: 8px 0px 0px 829px;
}