.header {
	background-image: url(../img/Promo/Header_photo_desktop.png);
	width: 1440px;
}
.header__button1,
.header__button2 {
	margin: 38px -1022px 24px 1037px;
}
.header__text {
	width: 1436px;
}
.header__text h2 {
	margin: -143px 758px 0px 0px;
}
.header__text h1 {
	margin: 152px -2px -141px 0px;
}
.header__text p {
	margin: 173px 0px 0px 468px;
}
.header__button3 {
	margin: 156px 0px 0px 608px;
}