.ideas {
	width: 1440px;
	height: 1382px;
}
.ideas h1 {
	width: 400px;
	margin: 24px 0px 0px 519px;
}
.ideas .ideas__h1__down {
	width: 400px;
	margin: 97px 0px 0px 518px;
}
.ideas__box1 {
	/*		padding: 35px 0px 0px 5px;*/
	margin: 0px 0px 0px 245px;
}
.ideas__box2 {
	margin: 35px 0px 0px 14px;
}
.ideas__box3 {
	margin: -308px 0px 0px 890px;
}
.ideas__box4 {
	margin: 365px 0px 0px -950px;
}
.ideas__box5 {
	margin: 21px 0px 0px 570px;
}
.ideas__box6 {
	margin: 695px 0px 0px -966px;
}
.ideas__box7 {
	margin: 20px 0px 0px 890px;
}
.ideas__box1 img {
	width: 300px;
	height: 309px;
}
.ideas__box2 img {
	width: 300px;
	height: 309px;
}
.ideas__box3 img {
	width: 300px;
	height: 309px;
}
.ideas__box4 img {
	width: 300px;
	height: 309px;
}
.ideas__box5 img {
	width: 620px;
	height: 309px;
}
.ideas__box6 img {
	width: 620px;
	height: 309px;
}
.ideas__box7 img {
	width: 300px;
	height: 309px;
}
.grid-item {
	border-radius: 5px;
	width: 300px;
	height: 309px;
}
.ideas__box1 p,
.ideas__box2 p,
.ideas__box3 p,
.ideas__box4 p,
.ideas__box7 p {
	transition: 0.5s;
	width: 300px;
	top: -169px;
}
.ideas__box5 p,
.ideas__box6 p {
	transition: 0.3s;
	width: 400px;
	top: -169px;
	left: 122px;
}
.ideas__box1:hover p,
.ideas__box2:hover p,
.ideas__box3:hover p,
.ideas__box4:hover p,
.ideas__box7:hover p{
	transition: 0.3s;
	height: 69px;
	padding: 142px 0px 97px 0px;
	margin: -142px 0px 0px 0px; }

.ideas__box5:hover p,
.ideas__box6:hover p{
	transition: 0.3s;
	height: 70px;
	padding: 142px 99px 97px 122px;
	margin: -142px 0px 0px -122px; }
.ideas__pre-search__text {
	margin: 35px 0px 0px 580px;
}
.ideas__search {
	margin: 38px 0px 0px 513px;
	width: 223px;
}
.ideas__button {
	width: 159px;
	margin: -38px 0px 0px 765px;
	padding: 13px 0px 9px 0px;
}