@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'Montserrat-Bold';
	src: url("../../fonts/Montserrat-Bold.eot");
	src: url("../../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Montserrat-Bold.woff2") format("woff2"), url("../../fonts/Montserrat-Bold.woff") format("woff"), url("../../fonts/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'Montserrat-Regular';
	src: url("../../fonts/Montserrat-Regular.eot");
	src: url("../../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Montserrat-Regular.woff2") format("woff2"), url("../../fonts/Montserrat-Regular.woff") format("woff"), url("../../fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'Roboto-Light';
	src: url("../../fonts/Roboto-Light.eot");
	src: url("../../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/Roboto-Light.woff2") format("woff2"), url("../../fonts/Roboto-Light.woff") format("woff"), url("../../fonts/Roboto-Light.ttf") format("truetype");
}
/*HEADER*/
.header {
	margin: 0 auto;
	width: 320px;
	height: 540px;
	background-image: url(../img/Promo/Header_photo.png);
}

.header__button1,
.header__button2 {
	display: inline-block;
	margin: 20px -68px 24px 83px;
}

.header__button1 a,
.header__button2 a {
	color: white;
	text-decoration: none;
	font-size: 14px;
	font-family: Montserrat-Bold, sans-serif;
}

.header__button2 {
	padding: 8px 16px 9px 17px;
	border: 2px solid white;
	border-radius: 26px;
}

.header__text {
	margin: 92px 0px 0px 0px;
	width: 320px;
	height: 175px;
	text-align: center;
}

.header__text h2 {
	color: white;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 20px;
	font-family: Montserrat-Bold, sans-serif;
}

.header__text h1 {
	margin: 33px 0px -27px 0px;
	color: white;
	text-transform: uppercase;
	font-size: 30px;
	font-family: Montserrat-Bold, sans-serif;
}

.header__text p {
	margin: 40px 0px 0px 47px;
	width: 226px;
	color: white;
	font-size: 18px;
	font-family: Roboto-Light, sans-serif;
	line-height: 21px;
}

.header__button3 {
	margin: 14px 0px 0px 17px;
	padding: 10px 14px 10px 15px;
	width: 250px;
	border: 2px solid #ff4e50;
	border-radius: 26px;
	background-color: #ff4e50;
	text-align: center;
	transition: 1s;
}

.header__button3:hover {
	background-color: white;
	transition: 1s;
}

.header__button3:hover a {
	color: #ff4e50;
	transition: 1s;
}

.header__button3 a {
	padding: 8px 16px 9px 17px;
	color: white;
	text-decoration: none;
	font-size: 14px;
	font-family: Montserrat-Bold, sans-serif;
	transition: 1s;
}

/*HEADER (END)*/
/*ASIDE*/
.aside {
	margin: 0 auto;
	width: 320px;
	height: 800px;
}

.aside h1 {
	display: block;
	margin: 37px 0px 0px 16px;
	width: 300px;
	color: #333333;
	font-size: 22px;
	font-family: Montserrat-Bold, sans-serif;
}

.aside__box1 {
	margin: 16px 0px 0px 9px;
	width: 302px;
	height: 241px;
	border-radius: 4px;
	background-image: url(../img/How-it-works/step-1.png);
	background-repeat: no-repeat;
}

.aside__box2 {
	margin: 9px 0px 0px 9px;
	width: 302px;
	height: 241px;
	border-radius: 4px;
	background-image: url(../img/How-it-works/step-2.png);
	background-repeat: no-repeat;
}

.aside__box3 {
	margin: 8px 0px 0px 9px;
	width: 302px;
	height: 241px;
	border-radius: 4px;
	background-image: url(../img/How-it-works/step-3.png);
	background-repeat: no-repeat;
}

.aside__box1 div ul li img {
	border-radius: 4px;
}

.aside__box2 div ul li img {
	border-radius: 4px;
}

.overlay {
	position: absolute;
	display: block;
	width: 100%;
	height: 99%;
	border-radius: 4px;
	background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
	background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
	background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
}

.aside .aside__box1 .step1 {
	position: relative;
	top: 67px;
	left: 24px;
	display: inline-block;
	padding: 2px 11px 2px 11px;
	width: 48px;
	border-radius: 26px;
	background-color: #ff4e50;
	color: white;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 10px;
	font-family: Montserrat-Regular, sans-serif;
}

.aside .aside__box2 .step2 {
	position: relative;
	top: 97px;
	left: 23px;
	display: inline-block;
	padding: 2px 11px 2px 11px;
	width: 48px;
	border-radius: 26px;
	background-color: #ff4e50;
	color: white;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 10px;
	font-family: Montserrat-Regular, sans-serif;
}

.aside .aside__box3 .step3 {
	position: relative;
	top: 68px;
	left: 24px;
	display: inline-block;
	padding: 2px 11px 2px 11px;
	width: 48px;
	border-radius: 26px;
	background-color: #ff4e50;
	color: white;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 10px;
	font-family: Montserrat-Regular, sans-serif;
}

.aside__box1 h1,
.aside__box2 h1,
.aside__box3 h1 {
	margin: 84px 0px 0px 21px;
	width: 270px;
	color: white;
	font-size: 24px;
	font-family: Montserrat-Bold, sans-serif;
	line-height: 29px;
}

.aside__box1 p,
.aside__box2 p,
.aside__box3 p {
	display: block;
	padding: 13px 0px 0px 20px;
	width: 260px;
	color: #cccccc;
	font-size: 14px;
	font-family: Roboto-Light, sans-serif;
	line-height: 16px;
}

.aside__box2 h1 {
	margin: 114px 0px 0px 20px;
}

.aside__box2 p {
	padding: 13px 0px 0px 21px;
	letter-spacing: 0.1px;
}

/** Carousel **/
.jcarousel {
	display: none;
}

.jcarousel-control-prev {
	display: none;
}

.jcarousel-control-next {
	display: none;
}

/*ASIDE (END)*/
/*PERTNERS*/
.partners {
	margin: 0 auto;
	width: 320px;
	height: 1073px;
}

.partners h1 {
	margin: 15px 0px 0px 18px;
	width: 278px;
	color: #333333;
	text-align: center;
	font-size: 22px;
	font-family: Montserrat-Bold, sans-serif;
	line-height: 24px;
}

.partners__box1 {
	padding: 16px 0px 0px 0px;
	height: 220px;
	text-align: center;
	position: relative;
}

.partners__box2 {
	padding: 9px 0px 0px 0px;
	height: 220px;
	text-align: center;
	position: relative;
}

.partners__box3 {
	padding: 42px 4px 0px 0px;
	height: 220px;
	text-align: center;
	position: relative;
}

.partners__box4 {
	padding: 9px 4px 0px 0px;
	height: 220px;
	text-align: center;
	position: relative;
}

.partners__img__sprite{
	border-radius: 50%;
	background-color: #ff4e50;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 102px;
	left: 185px;
	border: 4px solid white;
	background-image: url(../img/view/svg/sprite.view.svg);
	background-position: 33px -4px;
}
.sprite--yellow{
	border-radius: 50%;
	background-color: #ffa507;
	width: 31px;
	height: 31px;
	position: absolute;
	top: 95px;
	left: 184px;
	border: 4px solid white;
	background-image: url(../img/view/svg/sprite.view.svg);
	background-position: 68px -3px;
}
.sprite--green {
	border-radius: 50%;
	background-color: #1cd7ad;
	width: 31px;
	height: 31px;
	position: absolute;
	top: 127px;
	left: 182px;
	border: 4px solid white;
	background-image: url(../img/view/svg/sprite.view.svg);
	background-position: 159px -74px;
}
.sprite--blue {
	border-radius: 50%;
	background-color: #4e73db;
	width: 31px;
	height: 31px;
	position: absolute;
	top: 94px;
	left: 182px;
	border: 4px solid white;
	background-image: url(../img/view/svg/sprite.view.svg);
	background-position: 122px -71px;
}


.partners__box1 h1,
.partners__box2 h1,
.partners__box3 h1,
.partners__box4 h1{
	margin: 12px 0px 0px 19px;
	color: #333333;
	font-size: 14px;
	font-family: Montserrat-Bold, sans-serif;
}


.partners__box1 p,
.partners__box2 p,
.partners__box3 p,
.partners__box4 p{
	margin: 11px 0px 0px 48px;
	width: 221px;
	color: #676767;
	letter-spacing: 0.1px;
	font-size: 14px;
	font-family: Roboto-Light, sans-serif;
	line-height: 16px;
}

.partners__button {
	margin: 9px 0px 0px 17px;
	padding: 9px 16px 11px 12px;
	width: 250px;
	border: 2px solid #ff4e50;
	border-radius: 26px;
	background-color: #ff4e50;
	text-align: center;
	transition: 1s;
}

.partners__button:hover {
	background-color: white;
	color: #ff4e50;
	transition: 1s;
}

.partners__button:hover a {
	color: #ff4e50;
	transition: 1s;
}

.partners__button a {
	padding: 8px 16px 9px 22px;
	color: white;
	text-decoration: none;
	font-size: 14px;
	font-family: Montserrat-Bold, sans-serif;
	transition: 1s;
}

/*PERTNERS (END)*/
/*IDEAS*/
.ideas {
	margin: 0 auto;
	width: 320px;
	height: 1232px;
	border-bottom: 5px solid #ff4e50;
}

.ideas h1 {
	margin: 15px 0px 0px 21px;
	width: 278px;
	color: #333333;
	text-align: center;
	font-size: 22px;
	font-family: Montserrat-Bold, sans-serif;
	line-height: 25px;
}

.ideas__box1 {
	padding: 16px 0px 0px 10px;
}

.ideas__box2 {
	margin: 9px 0px 0px 10px;
}

.ideas__box3 {
	margin: 10px 0px 0px 10px;
}

.ideas__box4 {
	margin: 12px 0px 0px 10px;
}

.ideas__box5 {
	margin: 12px 0px 0px 10px;
}

.ideas__box6 {
	margin: 14px 0px 0px 10px;
}

.ideas__box7 {
	margin: 14px 0px 0px 10px;
}

.ideas__box1 img,
.ideas__box2 img,
.ideas__box3 img,
.ideas__box4 img,
.ideas__box5 img,
.ideas__box6 img,
.ideas__box7 img,
.grid-item {
	width: 300px;
	height: 120px;
	border-radius: 5px;
}

.ideas__box1 p,
.ideas__box2 p,
.ideas__box3 p,
.ideas__box4 p,
.ideas__box5 p,
.ideas__box6 p,
.ideas__box7 p {
	position: relative;
	top: -75px;
	color: white;
	text-align: center;
	font-size: 23px;
	font-family: Montserrat-Bold, sans-serif;
}

.ideas__pre-search__text {
	margin: 25px 0px 0px 20px;
	color: #989898;
	font-size: 18px;
	font-family: Roboto-Light, sans-serif;
}

.ideas__search {
	margin: 17px 0px 0px 18px;
	padding: 2px 0px 0px 15px;
	width: 263px;
	height: 36px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	letter-spacing: 0.3px;
	font-family: Roboto-Light, sans-serif;
}

.ideas__button {
	margin: 10px 0px 0px 17px;
	padding: 11px 14px 7px 15px;
	width: 250px;
	height: 18px;
	border: 2px solid #ff4e50;
	border-radius: 26px;
	background-color: #ff4e50;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	font-family: Montserrat-Bold, sans-serif;
	cursor: pointer;
	transition: 1s;
}

.ideas__button:hover {
	background-color: white;
	color: #ff4e50;
	transition: 1s;
}

/*IDEAS (END)*/
/*FOOTER*/
.footer {
	margin: 0 auto;
	width: 320px;
	height: 170px;
	text-align: center;
}

.footer h1 {
	margin: 17px 0px 0px -2px;
	color: #ff4e50;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.7px;
	font-size: 16px;
	font-family: Montserrat-Bold, sans-serif;
}

.footer h2 {
	margin: 14px 0px 0px -2px;
	color: #333333;
	text-decoration: none;
	font-size: 14px;
	font-family: Montserrat-Bold, sans-serif;
}

.footer .nav {
	display: inline-block;
	width: 212px;
	height: 19px;
}

.footer .nav li a {
	float: left;
	margin: 7px 6px 0px 8px;
	color: #676767;
	text-decoration: none;
	font-size: 14px;
	font-family: Roboto-Light, sans-serif;
}

.footer .nav li a:hover {
	text-decoration: underline;
	color: #ff4e50;
}

.footer p {
	margin: 17px 0px 0px -2px;
	color: #cccccc;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1.0px;
	font-size: 10px;
	font-family: Montserrat-Bold, sans-serif;
}

.footer__logo {
	margin: 8px 0px 0px 0px;
	width: 113px;
	display: inline-block;
}

/*FOOTER (END)*/