@media only screen and (min-width:777px) and (max-width:1439px) {
	.header {
		background-image: url(../img/Promo/Header_photo_tablet.png);
		width: 768px;
		height: 700px;
	}
	.header__button1,
	.header__button2 {
		display: inline-block;
		margin: 38px -552px 24px 566px;
	}
	.header__text {
		text-align: center;
		width: 761px;
		height: 222px;
		margin: 92px 0px 0px 0px;
	}
	.header__text h2 {
		margin: -143px 486px 0px 0px;
	}
	.header__text h1 {
		font-size: 52px;
		margin: 152px -2px -141px 0px;
	}
	.header__text p {
		width: 502px;
		font-size: 24px;
		margin: 174px 0px 0px 130px;
	}
	.header__button3 {
		padding: 12px 5px 12px 5px;
		width: 212px;
		margin: 156px 0px 0px 270px;
		transition: 1s;
	}
	/*HEADER*/
	/*ASIDE*/
	.aside {
		width: 768px;
		height: 530px;
	}
	.aside h1 {
		margin: 97px 0px 0px 244px;
	}
	.aside__box1 {
		width: 237px;
		height: 402px;
		margin: 35px 0px 0px 10px;
		float: left;
	}
	.aside__box2 {
		width: 237px;
		height: 402px;
		margin: 35px 0px 0px 19px;
		float: left;
	}
	.aside__box3 {
		width: 237px;
		height: 402px;
		margin: 35px 0px 0px 521px;
		overflow: hidden;
	}
	.aside .aside__box1 .step1 {
		background-color: #ff4e50;
		border-radius: 26px;
		padding: 2px 11px 2px 11px;
		width: 48px;
		text-align: center;
		text-transform: uppercase;
		font-family: Montserrat-Regular, sans-serif;
		color: white;
		text-decoration: none;
		font-size: 10px;
		letter-spacing: 2px;
		display: inline-block;
		position: relative;
		top: -192px;
		left: 23px;
	}
	.aside .aside__box2 .step2 {
		background-color: #ff4e50;
		border-radius: 26px;
		padding: 2px 11px 2px 11px;
		width: 48px;
		text-align: center;
		text-transform: uppercase;
		font-family: Montserrat-Regular, sans-serif;
		color: white;
		text-decoration: none;
		font-size: 10px;
		letter-spacing: 2px;
		display: inline-block;
		position: relative;
		top: -145px;
		left: 23px;
	}
	.aside .aside__box3 .step3 {
		background-color: #ff4e50;
		border-radius: 26px;
		padding: 2px 11px 2px 11px;
		width: 48px;
		text-align: center;
		text-transform: uppercase;
		font-family: Montserrat-Regular, sans-serif;
		color: white;
		text-decoration: none;
		font-size: 10px;
		letter-spacing: 2px;
		display: inline-block;
		position: relative;
		top: -192px;
		left: 25px;
	}
	.aside__box1 h1,
	.aside__box2 h1,
	.aside__box3 h1 {
		margin: 228px 0px 0px 20px;
		width: 215px;
	}
	.aside__box1 h1 {
		position: relative;
		top: -405px;
	}
	.aside__box2 h1 {
		position: relative;
		top: -358px;
	}
	.aside__box3 h1 {
		position: relative;
		top: -405px;
		left: 2px;
	}
	.aside__box1 p,
	.aside__box2 p,
	.aside__box3 p {
		padding: 13px 0px 0px 17px;
		width: 207px;
	}
	.aside__box1 p {
		position: relative;
		top: -405px;
		left: 2px;
	}
	.aside__box2 p {
		position: relative;
		top: -360px;
		left: 4px;
	}
	.aside__box3 p {
		position: relative;
		top: -406px;
		left: 4px;
	}
	/** Carousel **/
	.jcarousel {
		position: relative;
		overflow: hidden;
		display: block;
	}
	.desk {
		display: none;
	}
	.jcarousel ul {
		width: 20000em;
		position: relative;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.jcarousel li {
		float: left;
	}
	/** Carousel Controls **/
	.jcarousel-control-prev {
		position: relative;
		top: -748px;
		left: 22px;
		width: 30px;
		height: 57px;
		display: block;
		background-image: url(../img/view/svg/sprite.view.svg);
		background-position: -10px -10px;
	}
	.jcarousel-control-prev--box2 {
		position: relative;
		top: -703px;
		left: 11px;
		background-image: url(../img/view/svg/sprite.view.svg);
		background-position: -10px -10px;
	}
	.jcarousel-control-next {
		position: relative;
		top: -806px;
		left: 186px;
		width: 30px;
		height: 57px;
		display: block;
		background-image: url(../img/view/svg/sprite.view.svg);
		background-position: -60px -10px;
	}
	.jcarousel-control-next--box2 {
		position: relative;
		top: -760px;
		left: 198px;
		background-image: url(../img/view/svg/sprite.view.svg);
		background-position: -60px -10px;
	}
	/*ASIDE*/
	/*PERTNERS*/
	.partners {
		width: 768px;
		height: 700px;
	}
	.partners h1 {
		width: 416px;
		margin: 26px 0px 0px 173px;
	}
	.partners__box1 {
		width: 355px;
		display: inline-block;
		float: left;
	}
	.partners__box2 {
		width: 355px;
		padding: 10px 0px 0px 3px;
		display: inline-block;
	}
	.partners__box3 {
		width: 355px;
		padding: 42px 0px 0px 0px;
		display: inline-block;
	}
	.partners__box4 {
		width: 355px;
		padding: 9px 0px 0px 0px;
		display: inline-block;
	}
	.partners__box1 img {
		margin: 17px 0px 0px 155px;
	}
	.partners__box2 img {
		margin: 22px 0px 0px -49px;
	}
	.partners__box3 img {
		margin: -11px 0px 0px 158px;
	}
	.partners__box4 img {
		margin: 0px 0px 0px -48px;
	}
	.partners__box1 h1 {
		margin: 10px 0px 0px 47px;
	}
	.partners__box2 h1 {
		margin: 12px 0px 0px -59px;
	}
	.partners__box3 h1 {
		margin: 5px 0px 0px 49px;
	}
	.partners__box4 h1 {
		margin: 7px 0px 0px -55px;
	}
	.partners__box1 p {
		margin: 11px 0px 0px 145px;
	}
	.partners__box2 p {
		margin: 11px 0px 0px 46px;
	}
	.partners__box3 p {
		margin: 11px 0px 0px 146px;
	}
	.partners__box4 p {
		margin: 11px 0px 0px 42px;
	}
	.partners__button {
		width: 171px;
		margin: 36px 0px 0px 279px;
	}
	.partners__img__sprite{
		top: 118px;
		left: 282px;
	}
	.sprite--yellow{
		top: 118px;
		left: 182px;
	}
	.sprite--green {
		top: 116px;
		left: 281px;
	}
	.sprite--blue {
		top: 94px;
		left: 178px;
	}
	/*PERTNERS*/
	/*IDEAS*/
	.ideas {
		width: 768px;
		height: 1381px;
	}
	.ideas h1 {
		width: 400px;
		margin: 24px 0px 0px 184px;
	}
	.ideas .ideas__h1__down {
		width: 400px;
		margin: 285px 0px 0px 183px;
	}
	.ideas__box1 {
		padding: 35px 0px 0px 5px;
	}
	.ideas__box2 {
		margin: 34px 0px 0px 9px;
	}
	.ideas__box3 {
		margin: -120px 0px 0px 263px;
	}
	.ideas__box4 {
		margin: 211px 0px 0px -251px;
	}
	.ideas__box5 {
		margin: 211px 0px 0px -8px;
	}
	.ideas__box6 {
		margin: 541px 0px 0px -506px;
	}
	.ideas__box7 {
		margin: -120px 0px 0px 519px;
	}
	.ideas__box1 img {
		width: 237px;
		height: 309px;
	}
	.ideas__box2 img {
		width: 237px;
		height: 309px;
	}
	.ideas__box3 img {
		width: 237px;
		height: 309px;
	}
	.ideas__box4 img {
		width: 237px;
		height: 309px;
	}
	.ideas__box5 img {
		width: 492px;
		height: 309px;
	}
	.ideas__box6 img {
		width: 492px;
		height: 309px;
	}
	.ideas__box7 img {
		width: 237px;
		height: 309px;
	}
	.grid-item {
		border-radius: 5px;
		width: 240px;
		height: 120px;
	}
	.ideas__box1 p,
	.ideas__box2 p,
	.ideas__box3 p,
	.ideas__box4 p,
	.ideas__box7 p {
		width: 236px;
		top: -169px;
	}
	.ideas__box5 p,
	.ideas__box6 p {
		width: 236px;
		top: -169px;
		left: 122px;
	}
	.ideas__pre-search__text {
		margin: 34px 0px 0px 244px;
	}
	.ideas__search {
		margin: 38px 0px 0px 178px;
		width: 223px;
	}
	.ideas__button {
		width: 159px;
		margin: -38px 0px 0px 429px;
		padding: 13px 0px 9px 0px;
	}
	/*IDEAS*/
	/*FOOTER*/
	.footer {
		width: 768px;
		height: 170px;
	}
	.footer h1 {
		margin: 36px 0px 0px -546px;
	}
	.footer h2 {
		margin: -15px 1px 0px -169px;
	}
	.footer .footer__h2__down {
		margin: -123px 1px 0px 166px;
	}
	.footer .nav {
		width: 70px;
		height: 99px;
		margin: 7px 0px 0px -183px;
	}
	.footer .nav li a {
		margin: 10px 6px 0px 8px;
	}
	.footer p {
		margin: -13px 0px 0px 610px;
	}
	.footer__logo {
		margin: 8px 0px 0px 577px;
	}
	/*FOOTER*/
}

@media only screen and (min-width: 1286px) {
	.header {
		background-image: url(../img/Promo/Header_photo_desktop.png);
		width: 1440px;
	}
	.header__button1,
	.header__button2 {
		margin: 38px -1022px 24px 1037px;
	}
	.header__text {
		width: 1436px;
	}
	.header__text h2 {
		margin: -143px 758px 0px 0px;
	}
	.header__text h1 {
		margin: 152px -2px -141px 0px;
	}
	.header__text p {
		margin: 173px 0px 0px 468px;
	}
	.header__button3 {
		margin: 156px 0px 0px 608px;
	}
	/*HEADER*/
	/*ASIDE*/
	.aside {
		width: 1440px;
		height: 530px;
	}
	.aside h1 {
		margin: 97px 0px 0px 575px;
	}
	.aside__box1 {
		width: 300px;
		height: 402px;
		margin: 35px 0px 0px 250px;
		float: left;
		border-radius: 4px;
	}
	.aside__box2 {
		width: 300px;
		height: 402px;
		margin: 35px 21px 0px 19px;
		float: left;
		border-radius: 4px;
	}
	.aside__box3 {
		width: 300px;
		height: 402px;
		margin: 35px 0px 0px 521px;
		overflow: hidden;
		border-radius: 4px;
	}
	.aside .aside__box1 .step1 {
		background-color: #ff4e50;
		border-radius: 26px;
		padding: 2px 11px 2px 11px;
		width: 48px;
		text-align: center;
		text-transform: uppercase;
		font-family: Montserrat-Regular, sans-serif;
		color: white;
		text-decoration: none;
		font-size: 10px;
		letter-spacing: 2px;
		display: inline-block;
		position: relative;
		top: -174px;
		left: 23px;
	}
	.aside .aside__box2 .step2 {
		background-color: #ff4e50;
		border-radius: 26px;
		padding: 2px 11px 2px 11px;
		width: 48px;
		text-align: center;
		text-transform: uppercase;
		font-family: Montserrat-Regular, sans-serif;
		color: white;
		text-decoration: none;
		font-size: 10px;
		letter-spacing: 2px;
		display: inline-block;
		position: relative;
		top: -144px;
		left: 23px;
	}
	.aside .aside__box3 .step3 {
		background-color: #ff4e50;
		border-radius: 26px;
		padding: 2px 11px 2px 11px;
		width: 48px;
		text-align: center;
		text-transform: uppercase;
		font-family: Montserrat-Regular, sans-serif;
		color: white;
		text-decoration: none;
		font-size: 10px;
		letter-spacing: 2px;
		display: inline-block;
		position: relative;
		top: -175px;
		left: 23px;
	}
	.aside__box1 h1,
	.aside__box2 h1,
	.aside__box3 h1 {
		margin: 228px 0px 0px 20px;
		width: 215px;
	}
	.aside__box1 h1 {
		position: relative;
		top: -388px;
	}
	.aside__box2 h1 {
		position: relative;
		top: -358px;
	}
	.aside__box3 h1 {
		position: relative;
		top: -388px;
		left: 0px;
	}
	.aside__box1 p,
	.aside__box2 p,
	.aside__box3 p {
		padding: 13px 0px 0px 17px;
		width: 276px;
	}
	.aside__box1 p {
		position: relative;
		top: -388px;
		left: 2px;
	}
	.aside__box2 p {
		position: relative;
		top: -360px;
		left: 3px;
	}
	.aside__box3 p {
		position: relative;
		top: -387px;
		left: 2px;
	}
	/** Carousel **/
	.jcarousel {
		position: relative;
		overflow: hidden;
		display: none;
	}
	.desk {
		display: block;
	}
	.jcarousel ul {
		width: 20000em;
		position: relative;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.jcarousel li {
		float: left;
	}
	/** Carousel Controls **/
	.jcarousel-control-prev {
		position: relative;
		top: -618px;
		left: 21px;
		width: 30px;
		height: 57px;
		display: block;


	}
	.jcarousel-control-prev--box2 {
		position: relative;
		top: -590px;
		left: 22px;
	}
	.jcarousel-control-next {
		position: relative;
		top: -676px;
		left: 250px;
		width: 30px;
		height: 57px;
		display: block;
	}
	.jcarousel-control-next--box2 {
		position: relative;
		top: -647px;
		left: 251px;
	}
	/*ASIDE*/
	/*PERTNERS*/
	.partners {
		width: 1440px;
		height: 442px;
	}
	.partners h1 {
		width: 416px;
		margin: 25px 0px 0px 510px;
	}
	.partners__box1 {
		width: 186px;
		display: inline-block;
		float: left;
		margin: 0px 0px 0px 257px;
	}
	.partners__box2 {
		width: 186px;
		padding: 10px 0px 0px 3px;
		display: inline-block;
	}
	.partners__box3 {
		width: 186px;
		padding: 9px 0px 0px 0px;
		display: inline-block;
	}
	.partners__box4 {
		width: 186px;
		padding: 9px 0px 0px 0px;
		display: inline-block;
	}
	.partners__box1 img {
		margin: 17px 0px 0px 18px;
	}
	.partners__box2 img {
		margin: 22px 0px 0px 94px;
	}
	.partners__box3 img {
		margin: 0px 0px 0px 144px;
	}
	.partners__box4 img {
		margin: 0px 0px 0px 193px;
	}
	.partners__box1 h1 {
		margin: 11px 0px 0px -105px;
	}
	.partners__box2 h1 {
		margin: 13px 0px 0px -62px;
	}
	.partners__box3 h1 {
		margin: 42px 0px 0px 1px;
		position: relative;
		top: -30px;
	}
	.partners__box4 h1 {
		margin: 43px 0px 0px 43px;
		position: relative;
		top: -30px;
	}
	.partners__box1 p {
		margin: 11px 0px 0px -11px;
	}
	.partners__box2 p {
		margin: 11px 0px 0px 46px;
	}
	.partners__box3 p {
		margin: 11px 0px 0px 89px;
		position: relative;
		top: -30px;
	}
	.partners__box4 p {
		margin: 11px 0px 0px 140px;
		position: relative;
		top: -30px;
	}
	.partners__button {
		width: 171px;
		margin: 41px 0px 0px 617px;
	}
	.partners__img__sprite{
		top: 119px;
		left: 129px;
	}
	.sprite--yellow{
		top: 119px;
		left: 183px;
	}
	.sprite--green {
		top: 94px;
		left: 230px;
	}
	.sprite--blue {
		top: 94px;
		left: 279px;
	}
	/*PERTNERS*/
	/*IDEAS*/
	.ideas {
		width: 1440px;
		height: 1382px;
	}
	.ideas h1 {
		width: 400px;
		margin: 24px 0px 0px 519px;
	}
	.ideas .ideas__h1__down {
		width: 400px;
		margin: 97px 0px 0px 518px;
	}
	.ideas__box1 {
		/*		padding: 35px 0px 0px 5px;*/
		margin: 0px 0px 0px 245px;
	}
	.ideas__box2 {
		margin: 35px 0px 0px 14px;
	}
	.ideas__box3 {
		margin: -308px 0px 0px 890px;
	}
	.ideas__box4 {
		margin: 365px 0px 0px -950px;
	}
	.ideas__box5 {
		margin: 21px 0px 0px 570px;
	}
	.ideas__box6 {
		margin: 695px 0px 0px -966px;
	}
	.ideas__box7 {
		margin: 20px 0px 0px 890px;
	}
	.ideas__box1 img {
		width: 300px;
		height: 309px;
	}
	.ideas__box2 img {
		width: 300px;
		height: 309px;
	}
	.ideas__box3 img {
		width: 300px;
		height: 309px;
	}
	.ideas__box4 img {
		width: 300px;
		height: 309px;
	}
	.ideas__box5 img {
		width: 620px;
		height: 309px;
	}
	.ideas__box6 img {
		width: 620px;
		height: 309px;
	}
	.ideas__box7 img {
		width: 300px;
		height: 309px;
	}
	.grid-item {
		border-radius: 5px;
		width: 300px;
		height: 309px;
	}
	.ideas__box1 p,
	.ideas__box2 p,
	.ideas__box3 p,
	.ideas__box4 p,
	.ideas__box7 p {
		width: 300px;
		top: -169px;
	}
	.ideas__box5 p,
	.ideas__box6 p {
		width: 400px;
		top: -169px;
		left: 122px;
	}
	.ideas__pre-search__text {
		margin: 35px 0px 0px 580px;
	}
	.ideas__search {
		margin: 38px 0px 0px 513px;
		width: 223px;
	}
	.ideas__button {
		width: 159px;
		margin: -38px 0px 0px 765px;
		padding: 13px 0px 9px 0px;
	}
	/*IDEAS*/
	/*FOOTER*/
	.footer {
		width: 1440px;
		height: 170px;
	}
	.footer h1 {
		margin: 38px 0px 0px -801px;
	}
	.footer h2 {
		margin: -16px 1px 0px -393px;
	}
	.footer .footer__h2__down {
		margin: -123px 1px 0px -80px;
	}
	.footer .nav {
		width: 70px;
		height: 99px;
		margin: 7px 0px 0px -406px;
	}
	.footer .nav li a {
		margin: 10px 6px 0px 8px;
	}
	.footer p {
		margin: -13px 0px 0px 860px;
	}
	.footer__logo {
		margin: 8px 0px 0px 829px;
	}
	/*FOOTER*/
}