@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../../fonts/Montserrat-Bold.eot");
  src: url("../../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Montserrat-Bold.woff2") format("woff2"), url("../../fonts/Montserrat-Bold.woff") format("woff"), url("../../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../../fonts/Montserrat-Regular.eot");
  src: url("../../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Montserrat-Regular.woff2") format("woff2"), url("../../fonts/Montserrat-Regular.woff") format("woff"), url("../../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Light';
  src: url("../../fonts/Roboto-Light.eot");
  src: url("../../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/Roboto-Light.woff2") format("woff2"), url("../../fonts/Roboto-Light.woff") format("woff"), url("../../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*HEADER*/
header {
  margin: auto;
  max-width: 320px;
  background-image: url(../../img/Promo/Header_photo.png);
  height: 540px;
}

.header__button1,
.header__button2 {
  display: inline-block;
  margin: 20px -68px 24px 83px;
}

.header__button1 a,
.header__button2 a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-family: Montserrat-Bold, sans-serif;
}

.header__button2 {
  border: 2px solid white;
  border-radius: 26px;
  padding: 8px 16px 9px 17px;
}

.header__text {
  text-align: center;
  width: 320px;
  height: 175px;
  margin: 92px 0px 0px 0px;
}

.header__text h2 {
  text-transform: uppercase;
  font-family: Montserrat-Bold, sans-serif;
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
}

.header__text h1 {
  text-transform: uppercase;
  font-family: Montserrat-Bold, sans-serif;
  color: white;
  font-size: 30px;
  margin: 33px 0px -27px 0px;
}

.header__text p {
  width: 226px;
  line-height: 21px;
  font-family: Roboto-Light, sans-serif;
  color: white;
  font-size: 18px;
  margin: 40px 0px 0px 47px;
}

.header__button3 {
  background-color: #ff4e50;
  border-radius: 26px;
  padding: 12px 16px 12px 17px;
  width: 250px;
  text-align: center;
  margin: 14px 0px 0px 17px;
  transition: 1s;
}

.header__button3:hover {
  background-color: #4a2f2f;
  transition: 1s;
}

.header__button3 a {
  font-family: Montserrat-Bold, sans-serif;
  color: white;
  text-decoration: none;
  padding: 8px 16px 9px 17px;
  font-size: 14px;
}

/*HEADER*/
/*ASIDE*/
aside {
	margin: auto;
	max-width: 320px;
  height: 800px;
}

aside h1 {
  font-size: 22px;
  font-family: Montserrat-Bold, sans-serif;
  color: #333333;
  display: block;
  width: 300px;
  margin: 37px 0px 0px 16px;
}

.aside__box1 {
  background-image: url(../../img/How-it-works/Step-1/step-1.png);
  background-repeat: no-repeat;
  width: 302px;
  height: 241px;
  margin: 16px 0px 0px 9px;
}

.aside__box2 {
  background-image: url(../../img/How-it-works/Step-2/step-2.png);
  background-repeat: no-repeat;
  width: 302px;
  height: 241px;
  margin: 9px 0px 0px 9px;
}

.aside__box3 {
  background-image: url(../../img/How-it-works/Step-3/step-3.png);
  background-repeat: no-repeat;
  width: 302px;
  height: 241px;
  margin: 8px 0px 0px 9px;
}

aside .aside__box1 .step1 {
  background-color: #ff4e50;
  border-radius: 26px;
  padding: 2px 11px 2px 11px;
  width: 48px;
  text-align: center;
  text-transform: uppercase;
  font-family: Montserrat-Regular, sans-serif;
  color: white;
  text-decoration: none;
  font-size: 10px;
  letter-spacing: 2px;
  display: block;
  position: relative;
  top: 67px;
  left: 24px;
}

aside .aside__box2 .step2 {
  background-color: #ff4e50;
  border-radius: 26px;
  padding: 2px 11px 2px 11px;
  width: 48px;
  text-align: center;
  text-transform: uppercase;
  font-family: Montserrat-Regular, sans-serif;
  color: white;
  text-decoration: none;
  font-size: 10px;
  letter-spacing: 2px;
  display: block;
  position: relative;
  top: 97px;
  left: 23px;
}

aside .aside__box3 .step3 {
  background-color: #ff4e50;
  border-radius: 26px;
  padding: 2px 11px 2px 11px;
  width: 48px;
  text-align: center;
  text-transform: uppercase;
  font-family: Montserrat-Regular, sans-serif;
  color: white;
  text-decoration: none;
  font-size: 10px;
  letter-spacing: 2px;
  display: block;
  position: relative;
  top: 68px;
  left: 24px;
}

.aside__box1 h1,
.aside__box2 h1,
.aside__box3 h1 {
  color: white;
  font-family: Montserrat-Bold, sans-serif;
  font-size: 24px;
  margin: 84px 0px 0px 21px;
  line-height: 29px;
}

.aside__box1 p,
.aside__box2 p,
.aside__box3 p {
  color: #cccccc;
  font-family: Roboto-Light, sans-serif;
  font-size: 14px;
  display: block;
  padding: 13px 0px 0px 20px;
  width: 260px;
  line-height: 16px;
}

.aside__box2 h1 {
  margin: 114px 0px 0px 20px;
}

.aside__box2 p {
  padding: 13px 0px 0px 21px;
  letter-spacing: 0.1px;
}

/*ASIDE*/
/*PERTNERS*/
.partners {
	margin: auto;
	max-width: 320px;
  height: 1073px;
}

.partners h1 {
  font-size: 22px;
  font-family: Montserrat-Bold, sans-serif;
  color: #333333;
  width: 278px;
  margin: 15px 0px 0px 18px;
  text-align: center;
  line-height: 24px;
}

.partners__box1 {
  height: 220px;
  text-align: center;
  padding: 15px 0px 0px 3px;
}

.partners__box2 {
  height: 220px;
  text-align: center;
  padding: 10px 0px 0px 3px;
}

.partners__box3 {
  height: 220px;
  text-align: center;
  padding: 42px 0px 0px 0px;
}

.partners__box4 {
  height: 220px;
  text-align: center;
  padding: 9px 0px 0px 0px;
}

.partners__box1 h1 {
  font-size: 14px;
  font-family: Montserrat-Bold, sans-serif;
  color: #333333;
  margin: 7px 0px 0px 17px;
}

.partners__box2 h1 {
  font-size: 14px;
  font-family: Montserrat-Bold, sans-serif;
  color: #333333;
  margin: 7px 0px 0px 17px;
}

.partners__box3 h1 {
  font-size: 14px;
  font-family: Montserrat-Bold, sans-serif;
  color: #333333;
  margin: 7px 0px 0px 18px;
}

.partners__box4 h1 {
  font-size: 14px;
  font-family: Montserrat-Bold, sans-serif;
  color: #333333;
  margin: 7px 0px 0px 18px;
}

.partners__box1 p {
  font-size: 14px;
  font-family: Roboto-Light, sans-serif;
  color: #676767;
  margin: 11px 0px 0px 46px;
  width: 221px;
  letter-spacing: 0.1px;
  line-height: 16px;
}

.partners__box2 p {
  font-size: 14px;
  font-family: Roboto-Light, sans-serif;
  color: #676767;
  margin: 11px 0px 0px 46px;
  width: 221px;
  letter-spacing: 0.1px;
  line-height: 16px;
}

.partners__box3 p {
  font-size: 14px;
  font-family: Roboto-Light, sans-serif;
  color: #676767;
  margin: 11px 0px 0px 46px;
  width: 221px;
  letter-spacing: 0.1px;
  line-height: 16px;
}

.partners__box4 p {
  font-size: 14px;
  font-family: Roboto-Light, sans-serif;
  color: #676767;
  margin: 11px 0px 0px 46px;
  width: 221px;
  letter-spacing: 0.1px;
  line-height: 16px;
}

.partners__button {
  /*	background-color: #ff4e50;*/
  border-radius: 26px;
  border: 2px solid #ff4e50;
  padding: 9px 16px 11px 12px;
  width: 250px;
  text-align: center;
  margin: 9px 0px 0px 17px;
  transition: 1s;
}

.partners__button:hover {
  background-color: #ffcfd0;
  transition: 1s;
}

.partners__button a {
  font-family: Montserrat-Bold, sans-serif;
  color: #ff4e50;
  text-decoration: none;
  padding: 8px 16px 9px 22px;
  font-size: 14px;
}

/*PERTNERS*/
/*IDEAS*/
.ideas {
	margin: auto;
	max-width: 320px;
  height: 1232px;
  border-bottom: 5px solid #ff4e50;
}

.ideas h1 {
  font-size: 22px;
  font-family: Montserrat-Bold, sans-serif;
  color: #333333;
  width: 278px;
  margin: 15px 0px 0px 21px;
  text-align: center;
  line-height: 25px;
}

.ideas__box1 {
  padding: 16px 0px 0px 10px;
}

.ideas__box2 {
  margin: 9px 0px 0px 10px;
}

.ideas__box3 {
  margin: 10px 0px 0px 10px;
}

.ideas__box4 {
  margin: 12px 0px 0px 10px;
}

.ideas__box5 {
  margin: 12px 0px 0px 10px;
}

.ideas__box6 {
  margin: 14px 0px 0px 10px;
}

.ideas__box7 {
  margin: 14px 0px 0px 10px;
}

.ideas__box1 img,
.ideas__box2 img,
.ideas__box3 img,
.ideas__box4 img,
.ideas__box5 img,
.ideas__box6 img,
.ideas__box7 img,
.grid-item {
  border-radius: 5px;
  width: 300px;
  height: 120px;
}

.ideas__box1 p,
.ideas__box2 p,
.ideas__box3 p,
.ideas__box4 p,
.ideas__box5 p,
.ideas__box6 p,
.ideas__box7 p {
  position: relative;
  top: -75px;
  color: white;
  font-size: 23px;
  font-family: Montserrat-Bold, sans-serif;
  text-align: center;
}

.ideas__pre-search__text {
  font-size: 18px;
  font-family: Roboto-Light, sans-serif;
  color: #989898;
  margin: 25px 0px 0px 20px;
}

.ideas__search {
  margin: 17px 0px 0px 18px;
  width: 263px;
  height: 36px;
  border-radius: 4px;
  font-family: Roboto-Light, sans-serif;
  border: 1px solid #cccccc;
  padding: 2px 0px 0px 15px;
  letter-spacing: 0.3px;
}

.ideas__button {
  background-color: #ff4e50;
  border-radius: 26px;
  width: 250px;
  height: 18px;
  text-align: center;
  margin: 10px 0px 0px 17px;
  transition: 1s;
  font-family: Montserrat-Bold, sans-serif;
  color: white;
  text-decoration: none;
  padding: 13px 16px 9px 17px;
  font-size: 14px;
  cursor: pointer;
}

.ideas__button:hover {
  background-color: #4a2f2f;
  transition: 1s;
}

/*IDEAS*/
/*FOOTER*/
footer {
	margin: auto;
	max-width: 320px;
  height: 170px;
  text-align: center;
}

footer h1 {
  text-transform: uppercase;
  font-family: Montserrat-Bold, sans-serif;
  color: #ff4e50;
  text-decoration: none;
  margin: 17px 0px 0px -2px;
  letter-spacing: 0.7px;
  font-size: 16px;
}

footer h2 {
  font-family: Montserrat-Bold, sans-serif;
  color: #333333;
  text-decoration: none;
  margin: 14px 0px 0px -2px;
  font-size: 14px;
}

footer nav {
  display: inline-block;
  width: 212px;
  height: 19px;
}

footer nav li a {
  font-family: Roboto-Light, sans-serif;
  font-size: 14px;
  color: #676767;
  float: left;
  margin: 7px 6px 0px 8px;
  text-decoration: none;
}

footer nav li a:hover {
  text-decoration: underline;
}

footer p {
  text-transform: uppercase;
  font-family: Montserrat-Bold, sans-serif;
  color: #cccccc;
  text-decoration: none;
  margin: 17px 0px 0px -2px;
  letter-spacing: 1.0px;
  font-size: 10px;
}

.footer__logo {
  margin: 8px 0px 0px 0px;
}

/*FOOTER*/

/*# sourceMappingURL=style.css.map */
