.bg {
    width: 1366px;
    height: 950px;
    background-color: #f9f9f9;
}

.container {
    margin-left: 150px;
    background-image: url(../img/container.png);
    width: 1068px;
    height: 950px;
}


/* HEADER*/

.logo {
    margin-top: 50px;
    margin-left: 49px;
}

.menu {
    background-image: url(../img/header/menu/links/panel.png);
    width: 966px;
    height: 40px;
    margin-top: 37px;
    margin-left: 50px;
}

.header-button {
    display: inline-block;
    width: 116px;
    height: 28px;
    cursor: pointer;
    padding-top: 12px;
    padding-left: 24px;
    text-align: left;
    font-size: 15px;
    color: #ffffff;
    font-family: monospace;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.header-button:hover {
    background-image: url(../img/header/menu/links/hover/link-all.png);
    background-size: cover;
}


/*SIDERBAR*/

aside {
    font-family: monospace;
    float: left;
    margin-left: 50px;
    margin-top: 40px;
    font-size: 14px;
    text-align: left;
}

.sidebar {
    display: inline-block;
    width: 217px;
    height: 28px;
    border: 1px solid #c8c8c8;
    padding-left: 22px;
    padding-top: 10px;
    cursor: pointer;
}

.sidebar:hover {
    background-color: #f9f9f9;
    padding-left: 13px;
    width: 226px;
}

.link-sidebar {
    color: #656363;
}


/* CONTENT */

.velo {
    padding-left: 88px;
    margin-top: 46px;
}

.box-velo {
    float: left;
    border: 1px solid #c8c8c8;
    width: 676px;
    height: 398px;
    margin-top: 40px;
    margin-left: 39px;
}

.velo-text {
    display: inline-block;
    font-size: 14px;
    font-family: monospace;
    width: 663px;
    height: 180px;
    margin-left: 340px;
    margin-top: 34px;
    color: #2c2c2c;
    line-height: 21px;
}


/*FOOTER*/

.footer-menu {
    background-image: url(../img/footer/links/panel.png);
    width: 966px;
    height: 40px;
    margin-top: 8px;
    margin-left: 50px;
    font-family: monospace;
}

.footer-button {
    display: inline-block;
    width: 116px;
    height: 28px;
    cursor: pointer;
    padding-top: 12px;
    padding-left: 24px;
    text-align: left;
    font-size: 15px;
    font-family: monospace;
}

.footer-button:hover {
    text-decoration: underline;
}

.link-footer {
    color: #2c2c2c;
}

.footer-regist {
    text-align: right;
    width: 421px;
    height: 15px;
    margin-left: -40px;
    margin-top: 14px;
    font-family: monospace;
    font-size: 15px;
    color: #2c2c2c;
    position: absolute;
}