body{
  width: 100%;
  font-family: sans-serif;
  background-color: #c9c9c9;
}

.wrapper{
  margin: 0 auto;
  border-radius: 10px;
  width: 90%;
  height: 640px;
  margin-top: 1%;
  padding-top: 25px;
  background: #564760;

}

.header__h1{
  text-align: center;
  font-weight: bold;
  color: #f4f4f4;
  text-shadow: 1px 1px #000000;
  font-size: 25px;
}

.question__h2{
  color: #f4f4f4;
  text-shadow: 1px 1px #000000;
  font-weight: bold;
  margin-bottom: 3px;
  margin-top: 40px;
}

.answer__text{
  float: left;
  display: block;
  color: #c9c9c9;
  transition: 5.0s;

}

.answer__text:hover{
  color: #ffffff;
  transition: 0.5s;
}

form{
  margin: 0 auto;
  width: 111px;
}

.form__question__input{
  margin-top: 10px;
}
label{
  display: inline-block;
}
.button__result{
  font-size: 20px;
  background-color: rgb(91, 67, 106);
  color: rgba(255, 255, 255, 0.50);
  position: relative;
  top: 515px;
  left: -35px;
  border-radius: 5px;
  padding: 5px;
  width: 200px;
  transition: 0.5s;
}


.button__result:hover{
  color: #ffffff;
  transition: 0.5s;
}
